.btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;

    &--primary {
        color: $color-white;
        background-color: $color-primary;
    }

    &--secondary {
        background-color: $color-secondary;
    }
}
