.card {
    margin-top: $spacing-sm;
    text-align: center;
    border-radius: 4px;
    border: 1px solid $color-light-grey;
    box-shadow: 0 8px 16px $color-light-grey;
    overflow: hidden;

    &__image {
        border-bottom: 5px solid $color-secondary;
        width: 100%;
        height: auto;
    }

    &__info {
        padding: $spacing-sm $spacing-md;
    }

    &__headline {
        font-size: $font-size-base;
        margin-top: 0;
        padding-top: $spacing-sm;
    }

    &__description {
        line-height: 1.4;
        font-size: $font-size-smaller;
        margin-bottom: $spacing-lg;
    }

    &__btn {
        margin-bottom: $spacing-xs;
    }
}
