.card {
    margin-top: $spacing-sm;
    text-align: center;
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba($color-black, 0.3);
    overflow: hidden;
    transition: all 0.3s;

    &:hover {
        box-shadow: 0 15px 50px rgba($color-black, 0.5);
        transform: translateY(-0.2rem);
    }

    &__image {
        border-bottom: 5px solid $color-secondary;
        width: 100%;
        height: auto;
    }

    &__info {
        padding: $spacing-sm $spacing-md;
    }

    &__headline {
        margin-top: 0;
        padding-top: $spacing-sm;
    }

    &__description {
        line-height: 1.4;
        margin-bottom: $spacing-xl;
    }
}
