.footer {
  text-align: center;
  padding-top: $spacing-xl;
  padding-bottom: $spacing-xl;
  margin-left: auto;
  margin-right: auto;
  color: $color-light-grey;

  @include breakpoint(sm) {
    display: flex;
    justify-content: space-between;
    gap: $spacing-xl;
    max-width: $screen-large;
    text-align: left;
  }

  & > * {
    padding-left: 1rem;
    padding-right: 1rem;

    @include breakpoint(xl) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__nav {
    display: none;

    @include breakpoint(sm) {
      display: block;
    }
  }

  &__navlist {
    color: $color-secondary;
    list-style-type: "»";
    margin: 0;
    padding-left: $spacing-xs;
  }

  &__link {
    padding-left: $spacing-sm;
    color: $color-light-grey;
    text-decoration: none;

    &:hover {
      color: $color-secondary;
      text-decoration: underline;
    }
  }
}
