.header {
  background-color: $color-primary;
  color: $color-white;
}

.header__contact {
  max-width: $screen-large;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: $spacing-sm;
}

.navigation {
  background-color: $color-secondary;

  &-content {
    max-width: $screen-large;
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    padding-top: $spacing-xs;
    padding-bottom: $spacing-xs;
    font-size: 0;

    svg {
      width: 12rem;
      height: auto;
    }
  }

  &-links {
    display: none;

    @include breakpoint(md) {
      display: flex;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: $spacing-sm;
    padding-right: $spacing-sm;

    &:hover {
      background-color: $color-primary;
      color: $color-secondary;
    }
  }
}

.active {
  background-color: $color-primary;
  color: $color-secondary;
}
