.header {
    background-color: $color-primary;
    color: $color-white;
}

.contact {
    max-width: $screen-wide;
    display: flex;
    justify-content: flex-end;
    padding-top: $spacing-xs;
    padding-bottom: $spacing-xs;
    font-size: $font-size-smaller;

    &-item {
        margin-left: $spacing-md;
    }
}

.navigation {
    background-color: $color-secondary;

    &-content {
        max-width: $screen-wide;
        display: flex;
        justify-content: space-between;
    }

    &-logo {
        padding-top: $spacing-xs;
        padding-bottom: $spacing-xs;
        font-size: 0;

        svg {
            width: 10rem;
            height: auto;
        }
    }

    &-links {
        display: flex;
        font-size: $font-size-smaller;
    }

    &-link {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        text-decoration: none;
        padding-left: $spacing-sm;
        padding-right: $spacing-sm;

        &:hover {
            background-color: $color-primary;
            color: $color-secondary;
        }
    }
}
