.metal {
  list-style: none;
  padding: 0;
  height: auto;
  column-count: 2;
  color: $color-secondary;
}

.metal > li:nth-of-type(3) {
  break-after: column;
}

.metal--primary {
  color: $color-primary;
}

.metal__headline {
  display: block;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $color-secondary;
  margin-bottom: 0.5rem;

  &::before {
    content: "►";
    position: relative;
    margin-right: 0.5rem;
  }

  &.opened::before {
    content: "▼";
  }
}

.metal__item--light {
  color: $color-white;
}

.metal__item--dark {
  color: $color-dark-grey;
}

.metal__list {
  display: none;
}

.metal__headline + .metal__list.opened {
  display: block;
  grid-row: span 2;
  margin-bottom: 1rem;
}
