.quality {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: $spacing-xxl;
    margin-top: $spacing-xxl;
    margin-bottom: $spacing-xxl;

    &__cta {
        flex-shrink: 0;
    }

    &__headline {
        color: $color-white;
        text-transform: none;
        font-size: $font-size-large;
    }

    &__items {
        flex-grow: 1;
        columns: 2;
        font-size: $font-size-medium;
        font-weight: 600;
        list-style-type: "»";
    }

    &__item {
        padding-left: $spacing-md;
        color: $color-secondary;

        & > span {
            color: $color-white;
        }
    }
}
