{% extends "layouts/base.html" %}

{% block content %}
<section class="hero">
    <div class="hero__content s-medium m-auto">
        <h1>{{ hero.headline }}</h1>
        <div class="home__subheadline">
            {{ hero.subheadline }}
        </div>
        <div class="grid-3">
            {% for card in cards %}
            {% set cardContent = card %}
            {% include "partials/card.html" %}
            {% endfor %}
        </div>
    </div>

</section>

<section class="bg-primary">
    <div class="s-medium m-auto">
        <h2>{{ quality.headline }}</h2>
        <ul>
            {% for item in quality.items %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
        <a href="{{ quality.linkUrl }}">{{ quality.linkText }}</a>
    </div>
</section>

<section class="s-medium m-auto">
    {% if collections.latestUpdates %}
    {% include "partials/latest-updates.html" %}
    {% endif %}

    {% include "partials/pipeline-systems.html" %}
    {% include "partials/metal-products.html" %}

    <div>
        <h2>{{ customers.headline }}</h2>
        {% for reference in references %}
        <img src="{{ reference.img }}" alt="{{ reference.alt }}">
        {% endfor %}
        <a href="{{ customers.linkUrl }}">{{ customers.linkText }}</a>
    </div>
</section>


{% endblock %}