{% extends "layouts/base.html" %}

{% block content %}
<h1>{{ hero.headline }}</h1>
<div class="home__subheadline">
    {{ hero.subheadline }}
</div>

{% for card in cards %}
{% set cardContent = card %}
{% include "partials/card.html" %}
{% endfor %}

<div>
    <h3>{{ quality.headline }}</h3>
    <ul>
        {% for item in quality.items %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <a href="{{ quality.linkUrl }}">{{ quality.linkText }}</a>
</div>

{% if collections.latestUpdates %}
{% include "partials/latest-updates.html" %}
{% endif %}

{% include "partials/pipeline-systems.html" %}
{% include "partials/metal-products.html" %}

<div>
    <h2>{{ customers.headline }}</h2>
    {% for reference in references %}
    <img src="{{ reference.img }}" alt="{{ reference.alt }}">
    {% endfor %}
    <a href="{{ customers.linkUrl }}">{{ customers.linkText }}</a>
</div>

{% endblock %}