{% extends "layouts/base.html" %}

{% block content %}
<h1>{{ hero.headline }}</h1>
<div class="home__subheadline">
    {{ hero.subheadline }}
</div>

{% set cardContent = cardOne %}
{% include "partials/card.html" %}

{% set cardContent = cardTwo %}
{% include "partials/card.html" %}

{% set cardContent = cardThree %}
{% include "partials/card.html" %}

<div>
    <h3>{{ quality.headline }}</h3>
    <ul>
        <li>{{ quality.item1 }}</li>
        <li>{{ quality.item2 }}</li>
        <li>{{ quality.item3 }}</li>
        <li>{{ quality.item4 }}</li>
    </ul>
    <a href="{{ quality.linkUrl }}">{{ quality.linkText }}</a>
</div>

{% if collections.latestUpdates %}
{% include "partials/latest-updates.html" %}
{% endif %}

<div>
    <h2>{{ customers.headline }}</h2>
    <img src="{{ customer1.img }}" alt="{{ customer1.alt }}"><img src="{{ customer2.img }}"
        alt="{{ customer2.alt }}"><img src="{{ customer3.img }}" alt="{{ customer3.alt }}">
    <a href="{{ customers.linkUrl }}">{{ customers.linkText }}</a>
</div>

{% endblock %}