////////////////////
// FONTS
////////////////////

/* ubuntu-regular - latin */
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ubuntu-v15-latin-regular.woff2") format("woff2"),
        url("../fonts/ubuntu-v15-latin-regular.woff") format("woff");
}
/* ubuntu-italic - latin */
@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ubuntu-v15-latin-italic.woff2") format("woff2"),
        url("../fonts/ubuntu-v15-latin-italic.woff") format("woff");
}
/* ubuntu-500 - latin */
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/ubuntu-v15-latin-500.woff2") format("woff2"),
        url("../fonts/ubuntu-v15-latin-500.woff") format("woff");
}
/* ubuntu-500italic - latin */
@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/ubuntu-v15-latin-500italic.woff2") format("woff2"),
        url("../fonts/ubuntu-v15-latin-500italic.woff") format("woff");
}
/* ubuntu-700 - latin */
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ubuntu-v15-latin-700.woff2") format("woff2"),
        url("../fonts/ubuntu-v15-latin-700.woff") format("woff");
}
/* ubuntu-700italic - latin */
@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ubuntu-v15-latin-700italic.woff2") format("woff2"),
        url("../fonts/ubuntu-v15-latin-700italic.woff") format("woff");
}

$font-body: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
$font-heading: "Ubuntu", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

$font-size-base: 1rem;
$font-size-smaller: 0.8rem;

$line-height-base: 1.8;

////////////////////
// COLORS
////////////////////

$color-primary: #2e2f8a;
$color-primary-lighter: #4e50be;
$color-secondary: #fdc502;
$color-secondary-lighter: #ffdd60;
$color-secondary-darker: #b18500;

$color-light-grey: #f2f2f2;
$color-medium-grey: #aaaaaa;
$color-dark-grey: #54595f;

$color-white: #ffffff;
$color-black: #000000;

////////////////////
// SPACING
////////////////////
$spacing-unit: 0.5rem;
$spacing-xs: $spacing-unit;
$spacing-sm: $spacing-unit * 2;
$spacing-md: $spacing-unit * 3;
$spacing-lg: $spacing-unit * 4;
$spacing-xl: $spacing-unit * 5;
