$spacing: (
    "xs": $spacing-xs,
    "sm": $spacing-sm,
    "md": $spacing-md,
    "lg": $spacing-lg,
    "xl": $spacing-xl,
    "xxl": $spacing-xxl,
);

@each $size, $value in $spacing {
    .m-#{$size} {
        margin: #{$value};
    }

    .ml-#{$size} {
        margin-left: #{$value};
    }

    .mr-#{$size} {
        margin-right: #{$value};
    }
    .mt-#{$size} {
        margin-top: #{$value};
    }

    .mb-#{$size} {
        margin-bottom: #{$value};
    }

    .p-#{$size} {
        padding: #{$value};
    }

    .pl-#{$size} {
        padding-left: #{$value};
    }

    .pr-#{$size} {
        padding-right: #{$value};
    }
    .pt-#{$size} {
        padding-top: #{$value};
    }

    .pb-#{$size} {
        padding-bottom: #{$value};
    }
}

$screen-width: (
    "xlarge": $screen-xlarge,
    "large": $screen-large,
    "medium": $screen-medium,
    "small": $screen-small,
);

@each $width, $value in $screen-width {
    .s-#{$width} {
        max-width: #{$value};
    }
}
