.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-secondary {
    color: $color-secondary;
}

.bg-primary {
    background-color: $color-primary;
}

.bg-secondary {
    background-color: $color-secondary;
}

.fw-medium {
    font-weight: 600;
}

.d-root {
    display: flow-root;
}
