/* ubuntu-regular - latin */
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ubuntu-v15-latin-regular.woff2") format("woff2"),
        url("../fonts/ubuntu-v15-latin-regular.woff") format("woff");
}
/* ubuntu-italic - latin */
@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ubuntu-v15-latin-italic.woff2") format("woff2"),
        url("../fonts/ubuntu-v15-latin-italic.woff") format("woff");
}
/* ubuntu-500 - latin */
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/ubuntu-v15-latin-500.woff2") format("woff2"),
        url("../fonts/ubuntu-v15-latin-500.woff") format("woff");
}
/* ubuntu-500italic - latin */
@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/ubuntu-v15-latin-500italic.woff2") format("woff2"),
        url("../fonts/ubuntu-v15-latin-500italic.woff") format("woff");
}
/* ubuntu-700 - latin */
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ubuntu-v15-latin-700.woff2") format("woff2"),
        url("../fonts/ubuntu-v15-latin-700.woff") format("woff");
}
/* ubuntu-700italic - latin */
@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ubuntu-v15-latin-700italic.woff2") format("woff2"),
        url("../fonts/ubuntu-v15-latin-700italic.woff") format("woff");
}

html {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    font-size: 1rem;
    line-height: 1.8;
    color: $color-dark-grey;
}

h1,
h2,
h3 {
    font-family: "Ubuntu", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    color: $color-primary;
}

a {
    color: $color-primary;

    &:hover {
        color: $color-secondary;
    }
}
