<header class="header">
    <div class="header__contact m-auto">
        <span class="header__contact-item">{{ contact.phoneMain }}</span>
        <span class="header__contact-item">{{ contact.email }}</span>
    </div>
    <nav class="header__navigation">
        <div class="header__navigation-content m-auto">
            {% include "partials/logo.svg" %}
            <ul>
                {% for link in navigation.links %}
                <li class="header__navigation-item">
                    <a href="{{ link.url }}">{{ link.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>